*{
    margin: 0;
    padding: 0;
}
body {

    background-image: url("https://img.freepik.com/free-photo/3d-illustration-smartphone-with-products-coming-out-screen-online-shopping-e-commerce-concept_58466-14529.jpg");
    height: 900px;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: brown;
    font-style: italic;
    font-weight: 800;
    font-size: 48px;
}

main {
    text-align: center;
    align-items: center;
    justify-content: center;
}

section .ligin-form {
    margin-top: 45px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.Form h1 {
    font-size: 30px;
    text-decoration: underline;
}

.form-group {
    margin-top: 34px;
    color: white;
}

.form-group input {
    background-color: transparent;
    width: 445px;
    height: 40px;
    font-style: italic;
}
.form-group button{
    width: 120px;
    height: 34px;
    border: 1px solid black;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(83, 239, 125);
}
button:hover{
    background-color: rgb(242, 141, 241);
    opacity: 0.7;
}
.forget{
    margin-top: 14px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    
}
.forget label a{
    color: black;
    text-decoration: none;   
}
.forget label a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
.forget label input{
    margin-right: 3px;
    transform: translateY(2px);
    background: transparent;
}
.Create-account{
    margin-left: 42%;
    margin-top: 14px;
    font-size: 0.9em;
    color: black;
    display: flex;
}
.Create-account label a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.Create-account label a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}

.form-group ion-icon{
    margin-top: 12px;
    position: absolute;
    right: 37%; 
    color: black;
    font-size: 1.2em;
    
}
#products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
} 

.product {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
}

.product img {
    max-width: 100%;
    height: auto;
}

#app img{
    width: 45px;
    height: 45px;
}

#cart {
    display: none;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKgJjC5XB7lZ7FS4pwwk1Z99q3oX2i3IAPMg&usqp=CAU");
    height: 500px;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

#cart h2 {
    margin: 45px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #333;
}

#cart-list {
    margin-top: 34px;
    list-style: none;
    padding: 0;
    font-size: 20px;
}

#cart-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

#cart-list span {
    margin-right: 10px;
}